//Import Component files
h1 {
  color: rgba(255, 255, 255, 0.548);
  font-family: "Big Shoulders Stencil Text", cursive;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.596), 0 0 3px #fff,
    0 0 5px rgba(255, 255, 255, 0.52), 0 0 2px #49ff18, 0 0 3px #49ff18,
    0 0 40px #4aff187e;
  font-weight: lighter;
}
body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  color: white;
}

.technologies {
  .main-treppebox {
    display: flex;
    justify-content: space-around;
    align-items: left;
    align-self: flex-start;
    flex-direction: column;
    flex-flow: wrap;
    flex-wrap: nowrap;

    transform: rotate(-0deg);
  }

  // transform: skew(10deg, 40deg);
  // transform: skew(0deg, 0deg);
  a {
    height: 10rem;
    overflow: visible;
  }
}
