//Import Component files
//general
h1 {
  @include forfonts;
}
body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  color: white;
}

// style for the my work and keep in touch part
.parent-div-for-technologies-and-menu {
  nav {
    .text-link {
      color: inherit;
      text-decoration: inherit;
      color: white;
    }

    li {
      font-size: 30px;

      padding: 1.2rem;
      //border-radius: 100%;
      @include frame_for_list_items;
    }
  }
}
/* here is the green planet menu */
.angelov2-menu {
  margin-top: 2rem;
  background-color: rgb(0, 0, 0);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  box-shadow: 0px -1px 5px 1px rgba(135, 243, 150, 0.63);
  border-radius: 50%;
}

.orbit {
  position: relative;
  top: -0.1rem;
  width: 0.9rem;
  height: 0.9rem;
  background-color: rgba(143, 11, 11, 0);
  /* i kept the backround color to check out my orbit */
  border-radius: 100%;
  animation: rotateit 2s linear;
  animation-iteration-count: infinite;

  padding: 2rem;
}
/* to give shape and life to my satelites */
.orbit:hover:before,
.orbit:hover:after {
  position: absolute;
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 8px 2px rgb(255, 255, 255);
  border-radius: 100%;
}

.orbit:before {
  top: -0.25rem;
  left: -0.25rem;
}

.orbit:after {
  bottom: -0.25rem;
  right: -0.25rem;
}
//for the form
form {
  ul {
    border-radius: 10%;
    background-image: linear-gradient(
      to bottom,
      rgba(42, 218, 66, 0.068),
      rgb(0, 0, 0)
    );
    padding: 1.8rem;
    width: 100%;
    height: 100%;

    li {
      margin: 0 0 0.25em 0;
      clear: both;
      @include flexthing;
      flex-direction: column;

      width: 100%;
      &:last-child {
        margin: 0;
      }

      .divider {
        margin: 0.5em 0 0.5em 0;
        border: 0;
        height: 1px;
        width: 50%;
        display: block;

        background-image: linear-gradient(
          to right,
          rgba(135, 243, 150, 0.493),
          rgb(190, 211, 192)
        );
      }
      .req {
        color: $green;
      }
    }
  }
  label {
    margin: 0 0 0.6em 0;
    color: $green;
    font-size: 2rem;
  }
  input {
    margin: 0 0 1.3em 0;
    border: 1px solid $grey;
    padding: 9px 15px;
    color: $dark_grey;
  }
  textarea {
    border: 1px solid $grey;
    padding: 9px 15px;
    width: 100%;
    color: $dark_grey;
  }
  small {
    color: $green;
    margin: 0 0 0 0.5em;
  }
}
