//basic layout
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;
  font-family: "Big Shoulders Stencil Text", cursive;
}

.body-container {
  width: 100vw;
  height: auto;
  @include flexthing;
  flex-direction: column;
  text-align: top;
  align-items: top;
  position: relative;

  h1 {
    @include flexthing;
    width: 100vw;
    height: 20vh;
  }
  h2 {
    font-size: 25px;
  }
  //for the start loading part effect
  .loading {
    font-size: 4vw;
    @include forfonts;
  }
  .backroundi {
    @include flexthing;
    top: 1vh;
    position: absolute;

    width: 100vw;
    height: 90vh;
  }
  .stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    position: relative;
    background: linear-gradient(
      to left,
      $white,
      #0c6600,
      #033d0c,
      #000c01,
      #051a00,
      #000000c2
    );
    @include add-move-animation(1.3s);
  }
  @for $i from 1 through 8 {
    .star:nth-child(#{$i}) {
      @include add-move-animation(8s);
      @include sterne();

      width: 10px;
      height: 10px;

      left: 1 + 1.3 * ($i) + rem;
      top: -2$i + rem;
    }
  }
  //about me , in general context
  .about-me {
    @include flexthing;
    flex-direction: column;
    justify-content: space-between;

    padding: 5%;
    width: 70vw;
    height: 150vh;

    .technologies {
      text-align: center;

      width: 90vw;
      height: 100vh;
      border: 1px #4aff1823 solid;
      border-radius: 5%;
    }
  }
}
//for the technologie icons styling
.technologies {
  .main-treppebox {
    display: flex;
    justify-content: space-around;
    align-items: left;
    align-self: flex-start;
    flex-direction: column;
    flex-flow: wrap;

    img {
      width: 50px;
      height: 50px;
    }
    transform: rotate(-0deg);
  }

  a {
    height: 10rem;
    overflow: visible;
  }
}
// style for the my work and keep in touch part
.parent-div-for-technologies-and-menu {
  @include flexthing;
  flex-direction: column;

  flex-wrap: wrap;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: auto;
  .text-link {
    color: inherit;
    text-decoration: inherit;
    color: $white;
  }
  li {
    font-size: 30px;

    padding: 1.2rem;

    @include frame_for_list_items;
  }
}

//for the mywork/ portfolio component link

.mywork-container {
  width: 90vw;
  height: 80vh;
  background-color: rgba(11, 95, 11, 0.034);
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav ul {
    text-align: center;
    display: flex;
    width: 35vw;
    height: 80vh;
    flex-wrap: wrap;
  }
  .box-for-menu {
    height: 100%;
    @include flexthing;

    flex-direction: column;
    p {
      padding: 1rem;
    }
  }
  .portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
    li {
      width: 100%;
      height: 27%;
      font-size: 29px;

      position: relative;

      a {
        width: 100%;
        height: 100%;
        p,
        h5 {
          @include flexthing;
          flex-direction: column;
          width: 100%;
          height: 50%;
        }
      }
      a:hover {
        .enlighter {
          display: block;
        }
        transition: 1s;
      }
      @include frame_for_list_items;
    }
  }
  .enlighter {
    position: absolute;
    left: -0.1%;
    width: 100%;
    height: 100%;
    display: none;
  }
}

//for get in touch container
.getintouch-container {
  @include flexthing;

  width: 80vw;
  height: 80vh;

  .links-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;

    width: 30%;
    height: 100%;
    a {
      @include flexthing;
      @include forfonts;
      display: flex;
      justify-content: space-between;

      width: 100%;
      font-size: 2rem;
    }

    img {
      padding: 12px;
      background-color: rgb(0, 0, 0);
      box-shadow: 0px 0px 6px 1px rgb(135, 243, 150);
      border-radius: 100%;
      width: 90px;
      height: 90px;
    }
    .i,
    img:hover {
      transition: transform 1s;
      transform-style: preserve-3d;
      transform: rotateY(360deg);
    }
    .mail-icon {
      padding: 12px;
      border-radius: 100%;
      background-color: rgb(0, 0, 0);
      box-shadow: 0px 0px 6px 1px rgb(135, 243, 150);
      width: 70px;
      height: 70px;
    }
  }
  .form-container {
    @include flexthing;

    width: 70%;
    height: 100%;
  }
}
//footer layout
footer {
  @include flexthing;
  align-self: flex-end;
  display: none;
  width: 100%;
  height: 3rem;
  background: linear-gradient(#000000, #399c394b, #000000);
}
//mobile
@media only screen and (max-width: 882px) {
  .technologies {
    h2 {
      font-size: 20px;
    }

    .main-treppebox {
      img {
        img {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  nav {
    position: relative;
    .text-link {
      color: inherit;
      text-decoration: inherit;
      color: $white;
    }
    li {
      font-size: 20px;

      padding: 1.2rem;
    }

    .text-link:nth-child(1) {
      bottom: -340px;
      left: 30px;
      position: absolute;
    }
    .text-link:nth-last-child(1) {
      text-align: right;
      bottom: -340px;
      left: 170px;
      position: absolute;
    }
  }
}
//less dots on loading
@media only screen and (max-width: 500px) {
  @for $i from 6 through 8 {
    .star:nth-child(#{$i}) {
      display: none;
    }
  }
  .text-link:nth-child(1) {
    li {
      box-shadow: none;
      text-align: left;
    }
  }
  .text-link:nth-last-child(1) {
    li {
      box-shadow: none;
    }
  }
  .main-treppebox {
    img {
      margin: -4rem;
    }
  }
  .getintouch-container {
    @include flexthing;
    flex-direction: column;
    width: 100%;
    height: auto;
    .links-container {
      @include flexthing;
      flex-direction: column;

      img,
      .mail-icon {
        padding: 0px;
        width: 30px;
        height: 30px;
      }
      width: 100%;
      height: auto;
      a {
        margin: 0.3rem;
        font-size: 1rem;
        justify-content: space-between;
      }
    }
    .form-container {
      @include flexthing;
      flex-direction: row;
      width: 100%;
      height: auto;
    }
  }
  label {
    display: block;
  }
  li {
    textarea {
      width: 90%;
    }
  }
  h1 {
    text-align: center;
  }
  nav {
    width: 100%;
    height: auto;
    li {
      font-size: 15px;
      padding: 1.2rem;
    }
  }

  li {
    a {
      p {
        font-size: 0.01px;
        //display:none doesnt work :@
      }
    }
  }

  footer {
    h5,
    h6 {
      font-size: 10px;
    }
  }
}
